.cards-container-2 {
    .headings {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0rem;
    }

    .card-items-container-two {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem;
        
        .card-item {
            width: 100%;
            background-color: #f8fafc;
            text-align: center;
            border-radius: 1rem;

            & img {
                width: 100%;
                height: auto;
            }

            & h5 {
                color: black;
                font-size: 1.2rem;
            }

            & p {
                color: black;
                font-size: 1.2rem;

            }

            h6 {
                color: #6b7280;
            }

            & p {
                color: black;
                font-size: 1.2rem;
                font-weight: bold;
            }

            .card-icon-container {
                background-color: red;
                margin: .5rem;
                transition: all .3s ease-in-out;
                border-bottom-left-radius: 50% 10px;
                border-bottom-right-radius: 50% 10px;
                padding: .5rem;
                
            }

            .card-icon-container:hover {
                transform: translateY(-5px);    /* Lift effect on hover */
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow */
            }
  
        }
    }
}