.hero {
    background-color: #064e3b;
    margin: 1rem 0rem;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem,1fr));
    border-radius: .5rem;
    border-bottom-left-radius: 50% 40px;
    border-bottom-right-radius: 50% 40px;

    .left-side {
        & h2 {
            color: #cbd5e1;
            font-size: 3rem;
            font-weight: bold;
        }

        & p {
            color: #cbd5e1;
            font-size: 1.3rem;
        }

        .button {
            border: none;
            padding: 1rem 3rem;
            margin: 1rem 0rem;
            border-radius: .5rem;
            font-weight: bold;
            font-size: 1rem;
            color: black;
            background-color: #d9f99d;
            cursor: pointer;
        }
    }

    .right-side {
        filter: drop-shadow(10px 10px 10px rgba(89, 168, 104, 0.87));
        width: 400px;
        height: auto;
        & img {
            width: 100%;
            height: auto;
            
        }
    }

}

@media (max-width: 320px) {
    .hero {
        place-content: center;
        justify-items: center;
        text-align: center;
        .left-side {
            & h2 {
                font-size: 1.5rem;
            }

            & p {
                color: #cbd5e1;
                font-size: 1rem;
            }
        }

        .right-side {
            filter: drop-shadow(-10px 10px 10px rgba(89, 168, 104, 0.87));
            width: 400px;
            text-align: center;
            & img {
                width: 50%;
                height: auto;
                
            }
        }
    } 

}