nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #064e3b;
    padding: 1rem 3rem;
    border-radius: .5rem;
    color: #cbd5e1;
    // position: fixed;

    .Logo-Menu {
        display: flex;
        align-items: center;
        // gap: 3rem;

        & i {
            font-size: 2rem;
        }

        & a {
            text-decoration: none;
            color: #cbd5e1;
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            align-items: center;

            & img {
                width: 6rem;
                height: auto;
            }
        }
    }

    .search-div {
        background-color: #cbd5e1;
        border-radius: 2rem;
        margin: 0rem 1rem;
        padding: 1rem 2rem;
        & input {
            background-color: transparent;
            border: none;
            outline: none;
            width: 40rem;
            font-size: 1rem;
        }

        & i {
            color: #064e3b;
        }
    }

    .nav-items-left {
        display: flex;
        // gap: 1rem;

        .text {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & i {
                color: #fb923c;
            }
        }
        .cart-profile {
            display: flex;
            align-items: center;
            gap: 1rem;

            .cart-bg {
                background-color: #cbd5e1;
                padding: 1rem;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                & i {
                    color: #064e3b;
                    font-size: 1.2rem;
                    
                }
            }

            .profile-bg {
                background-color: #cbd5e1;
                padding: 1rem;
                border-radius: 50%;
                border: #064e3b dashed;
                & i {
                    color: #064e3b;
                    font-size: 1.2rem;
                    
                }
            }
        }
    }

    @media (max-width: 320px) {

        .Logo-Menu {
            margin: 0rem 1rem;

            & a {
                display: none;
            }
        
            .fa-bars {
                display: block; // Show bars icon on smaller screens
            }
        }

        .search-div {
            display: none;
        }

        .nav-items-left {
            .text {
                display: none;
            }
        }
    
    }


    }
