@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans", sans-serif;
  padding: 1rem;
  position: relative;
  background-color: #d6d3d1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #064e3b;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  color: #cbd5e1;
}
nav .Logo-Menu {
  display: flex;
  align-items: center;
}
nav .Logo-Menu i {
  font-size: 2rem;
}
nav .Logo-Menu a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
nav .Logo-Menu a img {
  width: 6rem;
  height: auto;
}
nav .search-div {
  background-color: #cbd5e1;
  border-radius: 2rem;
  margin: 0rem 1rem;
  padding: 1rem 2rem;
}
nav .search-div input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 40rem;
  font-size: 1rem;
}
nav .search-div i {
  color: #064e3b;
}
nav .nav-items-left {
  display: flex;
}
nav .nav-items-left .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-items-left .text i {
  color: #fb923c;
}
nav .nav-items-left .cart-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .nav-items-left .cart-profile .cart-bg {
  background-color: #cbd5e1;
  padding: 1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
nav .nav-items-left .cart-profile .cart-bg i {
  color: #064e3b;
  font-size: 1.2rem;
}
nav .nav-items-left .cart-profile .profile-bg {
  background-color: #cbd5e1;
  padding: 1rem;
  border-radius: 50%;
  border: #064e3b dashed;
}
nav .nav-items-left .cart-profile .profile-bg i {
  color: #064e3b;
  font-size: 1.2rem;
}
@media (max-width: 320px) {
  nav .Logo-Menu {
    margin: 0rem 1rem;
  }
  nav .Logo-Menu a {
    display: none;
  }
  nav .Logo-Menu .fa-bars {
    display: block;
  }
  nav .search-div {
    display: none;
  }
  nav .nav-items-left .text {
    display: none;
  }
}

.hero {
  background-color: #064e3b;
  margin: 1rem 0rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  border-radius: 0.5rem;
  border-bottom-left-radius: 50% 40px;
  border-bottom-right-radius: 50% 40px;
}
.hero .left-side h2 {
  color: #cbd5e1;
  font-size: 3rem;
  font-weight: bold;
}
.hero .left-side p {
  color: #cbd5e1;
  font-size: 1.3rem;
}
.hero .left-side .button {
  border: none;
  padding: 1rem 3rem;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  background-color: #d9f99d;
  cursor: pointer;
}
.hero .right-side {
  filter: drop-shadow(10px 10px 10px rgba(89, 168, 104, 0.87));
  width: 400px;
  height: auto;
}
.hero .right-side img {
  width: 100%;
  height: auto;
}

@media (max-width: 320px) {
  .hero {
    place-content: center;
    justify-items: center;
    text-align: center;
  }
  .hero .left-side h2 {
    font-size: 1.5rem;
  }
  .hero .left-side p {
    color: #cbd5e1;
    font-size: 1rem;
  }
  .hero .right-side {
    filter: drop-shadow(-10px 10px 10px rgba(89, 168, 104, 0.87));
    width: 400px;
    text-align: center;
  }
  .hero .right-side img {
    width: 50%;
    height: auto;
  }
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
  width: 100%;
}
.cards-container .card-item {
  width: 100%;
  background-color: #f8fafc;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.cards-container .card-item .card-text h3 {
  color: black;
  font-size: 1rem;
}
.cards-container .card-item .card-text p {
  color: #6b7280;
}
.cards-container .card-item .image-container {
  display: flex;
  justify-content: end;
}
.cards-container .card-item .image-container img {
  width: 4rem;
  height: auto;
}
.cards-container .card-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.cards-container .card-icon .addProductBtn {
  border: none;
  background-color: #064e3b;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.cards-container .card-icon .addProductBtn i {
  color: #f8fafc;
}
.cards-container .card-icon p {
  color: black;
  font-weight: bold;
}

.cards-container-2 .headings {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
}
.cards-container-2 .card-items-container-two {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}
.cards-container-2 .card-items-container-two .card-item {
  width: 100%;
  background-color: #f8fafc;
  text-align: center;
  border-radius: 1rem;
}
.cards-container-2 .card-items-container-two .card-item img {
  width: 100%;
  height: auto;
}
.cards-container-2 .card-items-container-two .card-item h5 {
  color: black;
  font-size: 1.2rem;
}
.cards-container-2 .card-items-container-two .card-item p {
  color: black;
  font-size: 1.2rem;
}
.cards-container-2 .card-items-container-two .card-item h6 {
  color: #6b7280;
}
.cards-container-2 .card-items-container-two .card-item p {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}
.cards-container-2 .card-items-container-two .card-item .card-icon-container {
  background-color: red;
  margin: 0.5rem;
  transition: all 0.3s ease-in-out;
  border-bottom-left-radius: 50% 10px;
  border-bottom-right-radius: 50% 10px;
  padding: 0.5rem;
}
.cards-container-2 .card-items-container-two .card-item .card-icon-container:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow */
}

.form-container form {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  right: 30%;
  transform: translateY(-2000px);
  transition: all 0.8s ease-in-out;
}
.form-container form .input-name input {
  background-color: #cbd5e1;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border: none;
  margin: 0.3rem 0rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
}
.form-container form .input-location input {
  background-color: #cbd5e1;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border: none;
  margin: 0.3rem 0rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
}
.form-container form .input-id input {
  background-color: #cbd5e1;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border: none;
  margin: 0.3rem 0rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
}
.form-container form .submit {
  background-color: #fb923c;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border: none;
  margin: 0.3rem 0rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
}

.visible {
  transform: translateY(0px);
}/*# sourceMappingURL=styles.css.map */